body{
  background-color: rgb(2, 58, 58);
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 500px;
  background-color: rgb(5, 78, 78);
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
}

h1{
  text-align: center;
}
input{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

button{
  padding: 8px 16px;
  font-size: 16px;
  background-color: rgb(5, 107, 107);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

ul{
  list-style-type: none;
  padding: 0;
  
}
li {
  padding: 10;
  background-color: rgb(7, 128, 128);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

}

li:hover{
  background-color: rgb(10, 156, 156);

}
li span{
  flex:1;
  text-align: left;

}
.deleteButton{  
margin-left: 5px;

}