*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(39, 39, 39);
    }
#counter{
    padding: 2rem;
    border-radius: 10px;
     background-color: rgb(66, 66, 66);
}
#counter div {
    align-items: center;
    display: flex;
}
#valor{
    font-size: 8rem;
    color: aliceblue;
    min-width: 14rem;
    text-align: center;
}
button{
    border: none;
    border: 4px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
}
button:hover { 
opacity: .8;

}
.count-button{
    background-color: rgb(39, 39, 39);
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    margin-right: 1rem;

}
.count-button:last-child{
    margin-left: 1rem;
    margin-right: orem;
}
#reset{
    width: 100%;
    font-size: 2rem;
    background-color: rgb(63, 26, 99);
    padding: 1rem;
}