*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-family: "Poppins", sans-serif;
}
.logo{
    height: 150px;
    width: 150px;
    clip-path: circle();
}
body{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;

}
.conteudo{
display: flex;
align-items: center;
justify-content: space-between;
}
.caixa-texto{
    width: 600px;
}
h1{
    color: #333;
    font-size: 60px;
    font-weight: bold;
}
p{
    font-size: 16px;
}
button{
    background-color:  #58370a;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color:  #382407;
}
.caixa-imagem{
    display: flex;
    width: 600px;
    height: 480px;
    justify-content: flex-end;
    margin-top: 250px;

}
span{
    color:  #58370a;
    font-weight: bolder;
}
.menu{
    display: flex;
    justify-content: center;
}
.botao-menu{
    width: 60px;
    cursor: pointer;
    transition: 0.5s;
}
.botao-menu:hover{
    transform: translateY(-30px);
}
.circulo{
    background-color: #58370a;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}
